html, .root {
  font-size: 16px;
  line-height: 24px;
}
body, .article {
  font-size: 1em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Barlow', sans-serif;
}

h1, .h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.05882353em;
  margin-top: 0.35294118em;
  margin-bottom: 0.70588236em;
}

@media (min-width: 768px) and (max-width: 1680px) {
  h1 {
    font-size: 40px;
  }
}

h2, .h2 {
  font-size: 1.8em;
  line-height: 1.14285714em;
  margin-top: 0.57142857em;
  margin-bottom: 0.57142857em;
}
h3, .h3 {
  font-size: 30px;
  font-family: 'Barlow', sans-serif;
  line-height: 4rem;
  font-weight: 400;
  line-height: 1.84615385em;
  margin-top: 0.92307692em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 24px;
  line-height: 1.5em;
  /* margin-top: 1.5em; */
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 26px;
  }
  
  h3 {
    font-size: 20px;
    line-height: 2.4rem;
  }
  
  h4 {
    font-size: 16px;
  }
  
  .main-4 h4 {
    font-size: 20px;
  }
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 1;
}
sub, sup {
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}